.THIS .write-here-please {
	display: inline-block;
	max-width: 400px;
	min-width: 300px;
	padding-top: 50px;
	border-bottom: 1px solid rgb(22, 50, 92);
}

.THIS table.slds-table {
	font-size: 10px;
}

.THIS thead.styled th,
.THIS tfoot td {
	background-color: #f5f7fa;
	font-weight: bold;
}

.THIS td.wrappable-cell {
	max-width: 300px;
	white-space: normal;
}

.THIS .table-truncation.slds-truncate {
    max-width: 315px;
    display: block;
    margin-right: 0 !important;
}

@media print {
  .THIS a[href]:after {
    content: none !important;
  }
}