/* perfect-scrollbar v0.7.0 */
.THIS .ps{-ms-touch-action:auto;touch-action:auto;overflow:hidden !important;-ms-overflow-style:none}@supports (-ms-overflow-style: none){.THIS .ps{overflow:auto !important}}@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){.THIS .ps{overflow:auto !important}}.THIS .ps.ps--active-x>.ps__scrollbar-x-rail,.THIS .ps.ps--active-y>.ps__scrollbar-y-rail{display:block;background-color:transparent}.THIS .ps.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail{background-color:#eee;opacity:.9}.THIS .ps.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail>.ps__scrollbar-x{background-color:#999;height:11px}.THIS .ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail{background-color:#eee;opacity:.9}.THIS .ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y{background-color:#999;width:11px}.THIS .ps>.ps__scrollbar-x-rail{display:none;position:absolute;opacity:0;-webkit-transition:background-color .2s linear, opacity .2s linear;-o-transition:background-color .2s linear, opacity .2s linear;-moz-transition:background-color .2s linear, opacity .2s linear;transition:background-color .2s linear, opacity .2s linear;bottom:0px;height:15px}.THIS .ps>.ps__scrollbar-x-rail>.ps__scrollbar-x{position:absolute;background-color:#aaa;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;-o-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;-moz-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;bottom:2px;height:6px}.THIS .ps>.ps__scrollbar-x-rail:hover>.ps__scrollbar-x,.THIS .ps>.ps__scrollbar-x-rail:active>.ps__scrollbar-x{height:11px}.THIS .ps>.ps__scrollbar-y-rail{display:none;position:absolute;opacity:0;-webkit-transition:background-color .2s linear, opacity .2s linear;-o-transition:background-color .2s linear, opacity .2s linear;-moz-transition:background-color .2s linear, opacity .2s linear;transition:background-color .2s linear, opacity .2s linear;right:0;width:15px}.THIS .ps>.ps__scrollbar-y-rail>.ps__scrollbar-y{position:absolute;background-color:#aaa;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;-o-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;-moz-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;right:2px;width:6px}.THIS .ps>.ps__scrollbar-y-rail:hover>.ps__scrollbar-y,.THIS .ps>.ps__scrollbar-y-rail:active>.ps__scrollbar-y{width:11px}.THIS .ps:hover.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail{background-color:#eee;opacity:.9}.THIS .ps:hover.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail>.ps__scrollbar-x{background-color:#999;height:11px}.THIS .ps:hover.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail{background-color:#eee;opacity:.9}.THIS .ps:hover.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y{background-color:#999;width:11px}.THIS .ps:hover>.ps__scrollbar-x-rail,.THIS .ps:hover>.ps__scrollbar-y-rail{opacity:.6}.THIS .ps:hover>.ps__scrollbar-x-rail:hover{background-color:#eee;opacity:.9}.THIS .ps:hover>.ps__scrollbar-x-rail:hover>.ps__scrollbar-x{background-color:#999}.THIS .ps:hover>.ps__scrollbar-y-rail:hover{background-color:#eee;opacity:.9}.THIS .ps:hover>.ps__scrollbar-y-rail:hover>.ps__scrollbar-y{background-color:#999}

/*
 * UTILS
 */
.THIS .hidden {
    display: none;
}

/* hack to fix truncation */
.THIS li span.slds-truncate {
    display: inline-block;
}

.THIS table .table-truncate.slds-truncate {
    max-width: 310px;
    display: inline-block;
}

.THIS .fixedHeader {
    position: fixed;
    top: 90px;
    left: 30px;
    right: 30px;
    z-index: 100;
    display: table-header-group;
    border-bottom: 1px solid #D5D3D2 !important;
}

.THIS .fixed-sidebar-table {
    width: 300px;
    position: absolute;
    z-index: 10;
    background-color: white;
    border-right: 1px solid #D5D3D2 !important;
}

.THIS .non-fixed-table-wrapper {
    overflow: auto;
}

.THIS .fixed-sidebar-table tr:not(.emtpy-row) td,
.THIS .fixed-sidebar-table + .non-fixed-table-wrapper tr:not(.emtpy-row) td {
    height: 39px;
}


/*
 * SECTION
 */
.THIS .section-header {
    background-color: #273e6a;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.THIS .section-header h3 {
    color: #fff;
    font-size: 14px;
    line-height: 2.3;
}

.THIS .section-header h3 svg {
    fill: #fff;
    margin-right: 15px;
}

.THIS .blc-icon-next-to-text svg {
    fill: #273e6a;
}

.THIS .section-body {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.THIS .section-header + .section-body {
    border-radius: 0;
    border-top: 0;
}

.THIS .slds-offset-from-top {
    margin-top: 33px;
}

.THIS .just-a-little-bit-offset-from-top {
    margin-top: 20px;
}

.THIS .section-body-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.THIS .section-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.THIS .section-footer .metric {
    margin-right: 20px;
    padding-left: 20px;
    border-left: 1px solid rgb(216, 221, 230);
}

.THIS .section-footer .metric:last-of-type {
    border: 0;
}

/*
 * LIST
 */
.THIS p.large {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #273e6a;
}

.THIS .section-list h2.slds-section__title {
    margin-top: 3rem;
    margin-bottom: 0;
    color: #7C96CE;
    text-transform: uppercase;
}

/*
 * TABLE
 */
.THIS table.slds-table--bordered {
    border: none; /* yes this looks silly but trust me want this */
}

.THIS .title-row th,
.THIS .title-row td {
    background-color: rgb(244, 246, 249);
    color: #000;
    /*border-color: rgb(0, 112, 210);*/
}

.THIS .title-row th.actually-not-titled {
    background-color: white;
    color: rgb(22, 50, 92);
    border-color: rgb(216, 221, 230);
}

.THIS .title-row.first-title-row th {
    padding-bottom: 0 !important;
    vertical-align: top;
}

.THIS td.wrap-contents {
    white-space: normal;
}

.THIS td.wrap-contents div {
    max-width: 450px;
}

.THIS .code-red {
    color: red;
}

.THIS .code-orange {
    color: orange;
}

.THIS .weekend-column {
    background-color: rgb(245, 246, 249);
}

.THIS th.weekend-column {
    color: #939fb4;
}

.THIS .highlight-last-column td:last-child {
    background-color: rgb(227, 236, 254);
    font-weight: bold;
}

.THIS .highlight-last-column td.actually-dont-highlight-this-column:last-child {
    background-color: transparent !important;
    font-weight: normal;
}

.THIS .emtpy-row td {
    padding-top: 20px;
    background-color: white;
    border-left-width: 0 !important;
}

.THIS tr.grouped-row {
    font-weight: bold;
}

.THIS td.table-cell-with-input-field {
    padding: 0 !important;
}

.THIS td.table-cell-with-input-field input[type="text"],
.THIS td.table-cell-with-input-field select,
.THIS td.table-cell-with-input-field .slds-pill_container {
    border-radius: 0 !important;
    border-width: 2px;
    height: auto;
}

.THIS td.table-cell-with-input-field input[type="text"] {
    text-align: right;
    padding: 2px 7px;
}

.THIS td.table-cell-with-input-field-padding input[type="text"] {
    text-align: right;
    padding: 2px 7px;
}

.THIS td.table-cell-with-input-field select,
.THIS td.table-cell-with-input-field .slds-pill_container {
    height: 36px !important;
}

/*.THIS .emtpy-row:hover td,
.THIS .emtpy-row:hover td:last-child {
    background-color: white !important;
    box-shadow: none !important;
}
*/

.THIS .days-of-month-row th,
.THIS .footer-row td {
    font-weight: bold;
}

.THIS .footer-row > span {
    display: table-cell;
    background-color: #f5f7fa;
    border-left: 1px solid #d7dce5;
}

.THIS .footer-row > span td {
    width: 200px;
}

/*
    column bordering for the rest of us
*/
.THIS .border-right {
    border-right: 1px solid #d8dde6;
}

.THIS .border-bottom {
    border-bottom: 1px solid #d8dde6;
}

.THIS th.table-break,
.THIS td.table-break {
    background-color: white;
    border-top-width: 0;
}

/*
    subtle yet elegant
*/
.THIS .small-button {
    font-size: 11px;
    padding: .1rem .25rem;
    width: 2em;
    height: 2em;
}

/*
    modal fix
*/
.THIS .slds-modal__container {
    margin-top: 5%;
    height: 750px;
}

.THIS .slds-modal__content {
    overflow: visible !important;
}

.THIS .slds-modal__content.modal-content-preview {
    height: 65%;
}

/*
    Hovers
*/
.THIS .hover-box {
    display: none;
    width: 450px;
    position: absolute;
    left: 10px;
    top: 40px;
    font-weight: normal;
    padding: 15px;
}

.THIS .hoverable {
    position: relative;
}

.THIS .hoverable.hoverable-inline {
    display: inline-block;
}

.THIS .hoverable:hover .hover-box {
    display: block;
}

.THIS .hoverable .hoverable-title {
    white-space: normal;
    margin-top: 0;
}

/*
    Description list layout hack fix hey it works
*/
.THIS .slds-dl--horizontal-50-50 .slds-item--label,
.THIS .slds-dl--horizontal-50-50 .slds-dl_horizontal__label {
    width: 55%;
}
.THIS .slds-dl--horizontal-50-50 .slds-item--detail,
.THIS .slds-dl--horizontal-50-50 .slds-dl_horizontal__detail {
    width: 45%;
}

.THIS .scrollable-lookup {
    max-height: 215px;
    overflow: hidden;
}

.THIS .blc-content {
    padding-bottom: 40px;
}